/* CSS for GUI...*/

#memorygame {
	/* ... */
}

ul {
	list-style-type: none;
}

li {
	border: 2px solid black;
	width: 60px;
	height: 100px;
	display: inline-block;
	margin: 0px 10px 20px 10px;

}

.face-up {
	background-color: green;
}

.face-down {
	background-color: grey;
}


li.invisible {
	display: none;
}

span {
	display: inline;

}

