/* CSS for GUI...*/

body {
	background-color: #99cccc;

}
#memorygame {
	/* ... */
}

#memorygame .cell {


}

#memorygame .invisible {
	visibility: hidden;

}

#reset {

	position: absolute;
	top: 10;
	right: 10;
	width: 100;
	height:40;
	padding: 10px;
	background: #cc0000;
	border: 2px solid black;
	font-weight: bold;
	font-family: 'Tahoma';
	color: #ffffff;
	font-style: 30px;
	text-align: center;
	vertical-align: center;
}